<%- include('partials/header.ejs'); %>

<h1>Quiz App</h1>
<div class="container">
  <p id="question"></p>
  <ul id="answers"></ul>
  <p id="result"></p>
  <button id="restart-button">Restart</button>
</div>

<hr>

<div class="container">
    <a href="/">トップページ</a>
</div>

<script src="main.js"></script>

<%- include('partials/footer.ejs'); %>